<!-- {{receivedMessage}}
<br>
<table>
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Address</th>
  </tr>
  <tr *ngFor="let data of personData; let i=index" (click)="onRowClick(i)">
    <td>{{data.name}}</td>
    <td>{{data.age}}</td>
    <td>{{data.address}}</td>
  </tr>
</table> -->

<h1>Customer</h1>

<table mat-table [dataSource]="personData" class="mat-elevation-z8">

  <ng-container matColumnDef="firstname">
    <th mat-header-cell *matHeaderCellDef>First Name </th>
    <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
  </ng-container>

  <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef>Last Name </th>
      <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>

  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef>Address</th>
    <td mat-cell *matCellDef="let element"> {{element.address}} </td>
  </ng-container>

  <ng-container matColumnDef="contact">
      <th mat-header-cell *matHeaderCellDef>Contact </th>
      <td mat-cell *matCellDef="let element"> {{element.contact}} </td>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;let i=index" [ngClass]="{'highlight': selectedRow == i}"(click)="onRowClick(i)"></tr>

</table>

<!-- <app-customer-detail [customerName]="myCustomer" (message)="onMessageReceive($event)">

</app-customer-detail> -->

<button mat-button mat-flat-button color="primary" (click)="onAddClick()">Add</button>
<button mat-button mat-flat-button color="primary" (click)="onEditClick()">Edit</button>
<button mat-button mat-flat-button color="primary" (click)="onDeleteClick()">Delete</button>